{% extends 'APP_BLOG/base.html' %}
{% load static %}

{% block content %}
<section class="section recent-post" id="recent" aria-labelledby="recent-label">
    <div class="container">

        <div class="post-main">

            <h2 class="headline headline-2 section-title">
                <span class="span">Recent posts</span>
            </h2>

            <p class="section-text">
                Don't miss the latest trends
            </p>

            <ul class="grid-list">

                <li>
                    {% for post in posts %}

                    <div class="recent-post-card">

                        <a href="{% url 'post' slug=post.slug %}">
                            <figure class="card-banner img-holder" style="--width: 271; --height: 258;">
                                {% if post.thumbnail %}
                                    <img src="{{ post.thumbnail.url }}" width="271" height="258" loading="lazy" class="img-cover">
                                {% endif %}
                            </figure>
                        </a>

                        <div class="card-content">
                            <h3 class="headline headline-3 card-title">
                                <a href="{% url 'post' slug=post.slug %}" class="link hover-2">{{ post.title }}</a>
                            </h3>

                            <p class="card-text">
                                Gosh jaguar ostrich quail one excited dear hello and bound and the and bland
                                moral misheard
                                roadrunner flapped lynx far that and jeepers giggled far and far
                            </p>

                            <div class="card-wrapper">

                                <div class="card-tag">
                                    {% for tag in post.tags.all %}
                                        <a href="{% url 'tag' tag=tag %}" class="span hover-2"># {{ tag }}</a>
                                    {% endfor %}
                                </div>

                                <div class="wrapper">
                                    <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                                    <span class="span">3 mins read</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</section>
{% endblock content %}